body, html {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	background-color: #FFD500;
}

img {
	height: 100%;
}

#navbar {
	position: fixed;
	height: 40px;
	top: 10px;
	left: 65%;
	z-index: 100;
}

.navbar-item {
	position: relative;
	display: inline-block;
	color: #566B7E;
	margin-right: 45px;
	margin-top: 20px;
	z-index: 2;
	cursor: pointer;
	font-weight: 700;
}

.navbar-item:hover {
	cursor: pointer;
	color: #668EB4;
	transition-duration: 0.35s;
}

#banner-container {
	position: relative;
	margin-top: 7%;
	margin-left: 50%;
	transform: translateX(-17%);
	height: 100px;
}

#bubble {
	position: relative;
	transform: translateX(8%);
	height: 100px;
}

#caption {
	position: relative;
	font-size: 24px;
	font-weight: bold;
	transform: translateX(-25%);
	color: #566B7E;
}

#location-pin {
	position: relative;
	height: 20px;
	transform: translateX(-25%) translateY(5%);
}

#location {
	position: relative;
	transform: translateX(-21.5%) translateY(-90%); 
	font-size: 15px;
	font-weight: bold;
	color: #566B7E;
}

#location-pin:hover {
	cursor: pointer;
}

#new-project {
	position: relative;
	background-color: #2E3A59;
	height: 600px;
	width: auto;
	margin-top: 80px;
}

#welcome-caption {
	position: relative;
	top: 25%;
	left: 25%;
	font-size: 24px;
	font-weight: medium;
	color: #FFFFFF;
}

.tag {
	position: relative;
	top: 160px;
	left: 32%;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #2E3A59;
	width: 70px;
	background-color: #7D89A8;
	padding: 4px;
	border-radius: 30px;
	margin-right: 10px;
	display: inline-block;
}

.tag:hover {
	color: #FFFFFF;
	cursor: pointer;
	top: 155px;
}

.blurb {
	position: absolute;
	top: 240px;
	left: 22%;
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	opacity: 0;
}

#welcome-phone {
	position: relative;
	top: -100px;
	left: 60%;
	height: 400px;
}

#welcome-phone:hover {
	cursor: pointer;
}

#welcome-phone-shadow {
	position: relative;
	top: -75px;
	left: 60%;
	height: 24px;
	opacity: 100;
}


#project-intro {
	position: relative;
	background-color: #2E3A59;
	height: 1000px;
	width: auto;
}

#project {
	position: relative;
	top: 15%;
	left: 20%;
	height: 400px;
}

#project:hover {
	cursor: pointer;
}

#project-shadow {
	position: relative;
	top: 17%;
	left: 20%;
	height: 24px;
	opacity: 100%;
}

#project-text {
	position: relative;
	background-color: white;
	height: 1000px;
	width: 60%;
	left: 42%;
	top: -45%;
	padding: 50px;

	font-size: 16px;
	color: #2E3A59;
}

#project-title {
	position: relative;
	top: 15%;
	font-size: 24px;
	font-weight: 600;
}

#project-scope {
	position: relative;
	top: 16%;
	font-weight: 600;
}

#project-role {
	position: relative;
	top: 17%;
	font-weight: 600;
}

#project-duration {
	position: relative;
	top: 18%;
	font-weight: 600;
}

#project-blurb {
	position: relative;
	top: 19%;
	font-weight: 400;
	width: 60%;
}

#behance-link {
	position: absolute;
	height: 300px;
	left: -80px;
	top: 180px;
}

#behance-link:hover {
	cursor: pointer;
}


@keyframes shadow-shrink {
	from {height: 24px; opacity: 100;}
	to {height: 20px; opacity: 50;}
}

@keyframes shadow-grow {
	from {height: 20px; opacity: 50;}
	to {height: 24px; opacity: 100;}
}

@keyframes lift-tag {
	from {top: 160px;}
	to {top: 155px;}
}

@keyframes land-tag {
	from {top: 155px;}
	to {top: 160px;}
}

@keyframes lift-phone {
	from {top: -100px;}
	to {top: -120px;}
}

@keyframes land-phone {
	from {top: -120px;}
	to {top: -100px;}
}




